// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');



// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Xanh Mono', monospace";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-display: swap;
  font-family: "Butler";
  src: font-url('Butler_Webfont/Butler.woff') format('woff'),
       font-url('Butler_Webfont/Butler.woff2') format('woff2');
}
$my-font: "Butler";
