.about-h2 {
	font-size: 2em;
	text-align: center;
}

.about-section {
	display: flex;
	justify-content: space-around;
}

@media (max-width: 719px) {
	.about-section {
		flex-direction: column;
		margin-bottom: 48px;
		margin-top: 48px;
		align-items: center;
		text-align: center;
		div {
			margin: 16px 0;
			img {
				height: 100px;
			}
		}
	}
}

@media (min-width:720px) {
	
	.flex-end {
		justify-content: flex-end;
	}
	
	.flex-start {
		justify-content: flex-start;
	}
	.about-section {
		margin-bottom: 48px;
		margin-top: 48px;
		div {
			width: 50%;
			justify-content: center;
			flex-direction: column;
			display: flex;
			img {
				height: 100px;
			}
		}
	}
}