
@media(max-width: 390px) {
	.project-container {
		flex-direction: column;
	}
}

.project-header {
	text-align: center;
	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.project-container {
	display: flex;
	flex-direction: column;
	p {
	  margin-bottom: 1em;
	  margin-top: 1em;
	}
	a {
		width: 50%;
		height: auto;
		img:hover {
			transform: scale(1.2);
		}
	}
}

