<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class="translate header-text">
      <h1 class="home-title">About</h1>
      <h3>Building an advertising campaign is like baking a cake.</h3>
      <p>You can add SEO sprinkles, user engagement icing, and a little marizpan to tie it all together.</p>
      <p>But like a cake needs flour, a campaign needs <em>copy</em>.</p>
      <p>As a creative copywriter, I can help you mould your digital marketing campaign.</p>
      <p>Whether it's ad copy, email newsletters or landing page text, you'll get top-quality writing for reasonable prices.</p>

    </div>
  </div>
</div>
