<div class="flx-container">
    <div class="text-center my-5 mt-5">
        <div class="translate">
            <h1 class="home-title">About</h1>
            <div class="arrow-box" id="arrow-box">
                  <%= image_tag 'arrow.svg', alt: "Image of navigation arrow." %>
            </div>
        </div>
    </div>
</div>
<div class="container-page">
<hr>
    <div>
   <h2 class="about-h2">Like a cake needs flour, an ad needs copy.</h2>
    </div>
    <div class="about-section">
      <div class="flex-end">
        <%= image_tag 'cake.svg' %>
      </div>
      <div>
        <p>A cake can often look good when you add icing, sprinkles and a cherry on top.</p>
        <p>We can often focus on making.</p>
        <p>Let's face it, we all want a sprinkling of glossy images, a smothering of user engagement icing, and a little SEO cherry on top to tie it all together.</p>
      </div>
    </div>
    <div class="about-section">
      <div class="flex-start">
        <p>But like a cake needs flour and eggs, an ad needs <em>copy</em>.</p>
      </div>
      <div>
        <%= image_tag 'flour.svg' %>
      </div>
    </div>
    <div class="about-section">
      <div>
        <%= image_tag "copywriting.svg" %>
      </div>
      <div class="flex-start">
        <p>As a creative copywriter, I can help you build the perfect.</p>
        <p>Whether it's a Facebook post, a email newsletter or words to help your landing page, you'll get top-quality writing for reasonable prices.</p>
      </div>
    </div>
    <div class="about-section">
        <div id="flex-start">
        
        </div>
    </div>
</div>
