<div class="flx-container">
    <div class="text-center my-5 mt-5">
        <div class="translate">
            <h1 class="home-title">About</h1>
            <div class="arrow-box" id="arrow-box">
                  <%= image_tag 'arrow.svg' %>
            </div>
        </div>
    </div>
</div>
<div class="container-page">
<hr>
    <div>
   <h2 class="about-h2">Trying to make the perfect ad is like baking a cake.</h2>
    </div>
    <div class="about-section">
      <div class="flex-end">
        <%= image_tag 'cake.svg' %>
      </div>
      <div>
        <p>You can find yourself focusing on the presentation.</p>
        <p>A sprinkling of backlinks, user engagement icing, and a little SEO cherry on top to tie it all together.</p>
      </div>
    </div>
    <div class="about-section">
      <div class="flex-start">
        <p>But like a cake needs flour and eggs, a good ad needs <em>copy</em>.</p>
        <p>Copy is there to provide the solid foundations you need to make your ads pop.</p>
      </div>
      <div>
        <%= image_tag 'flour.svg' %>
      </div>
    </div>
    <div class="about-section">
      <div>
        <%= image_tag "copywriting.svg" %>
      </div>
      <div class="flex-start">
        <p>As a creative copywriter, I can help you mould your digital marketing campaign.</p>
        <p>Whether it's ad copy, email newsletters or landing page text, you'll get top-quality writing for reasonable prices.</p>
      </div>
    </div>
    <div class="about-section">
        <div id="flex-start">
        
        </div>
    </div>
</div>
