<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class="translate">
      <h1 class="home-title">Contact</h1>
    </div>
  </div>
</div>
<div id="contact"><br></div>
  <div id="contact-container" class="section">
    <p>Want to get in touch? <%= link_to "Send me an email", "mailto:info@antshaw.com" %> or hit me up on the socials:
  </div>
</div>



