
<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class='translate'>
      <h1 class='home-title'>Anthony Shaw</h1>
      <h2>Creative.</h2>
    </div>
  </div>
</div>
<div id="about"><br></div>
<div class="container-page">
  <hr>
  <div id='about-container' class="section">
  <h2 class="my-3">About</h2>
  <p>Hi, I'm Anthony!</p>
  <p>As far back as I can remember, I always wanted to be creative.</p>
  <p>Whether it's web design, copywriting or </p>
  </div>
  <div id="projects"><br></div>
  <hr class='mb-5'>

  

