
 <div class="flx-container">

  <div class="text-center my-5 mt-5">
  <h1>Anthony Shaw</h1>
  <p>UK based web developer.</p>
  </div>
</div>

<div id="about"><br></div>
<div class="container" >
  <hr>
  <h2 class="my-3">About</h2>
  <p>Hi, I'm Anthony, web developer extroadinare!<br> Before making websites, I taught English in Japan. <br>and recently moved back to the UK after 3 years abroad.</p>
   <p>I've wanted to build websites for a long time. <br>I enjoy the </p>
  <p>Beyond web design, I also enjoy producing music, making art and hiking.</p>

  <hr>
  <div id="projects"><br></div>
  <h2 id='projects' class='my-3'>Projects</h2>
  <h4 class="my-mode header"><%= link_to 'my mode', 'https://my-mode.herokuapp.com', target: '_blank'%></h4>
  <p>A web based lookbook to store your fashion ideas. <br>Tired of being unable to find the right style? With <span class="my-mode">my mode</span>, you will never again suffer from fashion problems!</p>
  <h4 class='whodunnit? header'><%= link_to 'Whodunnit?', 'https://whodunnit.herokuapp.com', target: '_blank' %> </h4>
  <p>An interactive mystery game made with React. <br><span class="whodunnit">Whodunnit!</span> Look at the clues, interview the suspects and find the culprit!</p>
  <h4 class='tester header'>
    <%= link_to 'http://www.startup-testr.me', target: '_blank' do%>
  <span>
    TESTER
  </span>
  <% end %>
</h4>
  <p>A web based lookbook to store your fashion ideas. <br>Tired of being unable to find the right style? With <span class="tester">TESTER</span>, you will never again suffer from fashion problems!</p>
<hr>
</div>




