// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";





// @keyframes slideInFromLeft {
//   0% {
//     transform: translateY(-5%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }


.flx-container {
  // animation: 1s ease-out 0s 1 slideInFromLeft;
  display: flex;
  margin: auto;
  justify-content: center;
  height: 87vh;
  align-items: center;
}

 h1 {
  font-size: 4.2em;
  text-align: center;
}


.rectangle-red {
  padding: 30px;
  background: red;
  border: red 1px solid;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

a.active {
  color: black;
  border-bottom: 1px solid black;
}


.nav-transparent {
  display: flex;
  background: transparent;
  justify-content: space-evenly;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {



 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    text-align: left;
  }

  p {
    font-size: .95rem;
  }

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

 }
