// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.flex-wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-between;
}


.container-page {
  width: 77vw;
  margin:auto;
}

html {
  scroll-behavior: smooth;
}

.translate {
  animation: ty 1s ease 1;
}


@keyframes ty {
    from {
        transform: translateY(-50%);
    } 
    
    to {
        transform: translateY(0%);
    }
}

.middle
{
    position: relative;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.my-mode {
  font-family: 'Leckerli One', sans-serif;
}

.whodunnit {
  font-family: 'Reenie Beanie', cursive;
}

.collapse.width {
    height: auto;
    width:0;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}



.flx-container {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

 h1 {
  font-size: 6em;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
.header {
  text-align: left;
}

.tester{
  font-family: 'Source Sans Pro', sans-serif;
}

.img-show {
  height: 200px;
}

a {
  text-decoration: none;
  color: #615420;
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
  color: black;
}

a.active {
  color: black;
  border-bottom: 1px solid black;
}

.project-section {
  margin-bottom: 10px;
}

.nav-transparent {
  display: flex;
  background: transparent;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}



.border-bottom-black {
  border-bottom: black 1px solid;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

  .header {
    text-align: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .project-image {
    width: 90%;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


p {

  color: #131313;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 1.8rem;

 }

 .footer-links {
  display: inline;

}
.footer-links * {
    margin-left: 4px;
  margin-right: 4px;

}

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

 }
